.lg{
    background-color: rgba(114, 96, 255, 0.121) !important;
    height: 100% !important;
    width: 100% !important;
    
}
.head{
    height: 60px ;
    background-color: rgb(84, 32, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.form-bg{
    background-color: rgb(95, 80, 255);
    width: 500px;
    height: 100%;
    border-radius: 5px;
    margin-left: 300px !important;
}
.form-bg h1{
    color: white;
    margin-left: 200px !important;

}
.form-bg label{
    color: white;
    
}
.forgot{
    color: white !important;
    margin-bottom: 20px !important;
   
}
