.book-card{
    height: 320px !important;
    width: 220px;
    margin: 15px;
}
.book-card img{
    height: 120px !important;
    object-fit: contain;
}
.book-card .title{
    font-size: 25px;
    font-weight: 400;
}
.book-card .author-name{
    font-size: 16px;
    font-weight: 400;
    
}
.buttons-group{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
}
